.car-card {
  margin-top: 2%;
  margin-bottom: 2%;
}

#contactForm input, #contactForm textarea {
  color: rgba(200, 200, 200, 0.7);
  font-size: 1.2em;
  background-color: rgba(255,255,255,0.6);
  width: 100%;
}
